/*.navbar {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  z-index: 1;
}

.test {
  background-color: aqua;
}

.gridAtomic {
  height: 500px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 5vw);
  grid-gap: 15px;
}

.main {
  overflow: hidden;
  display: block;
  height: 80px;
  padding: absolute;
  top: 0;
  z-index: -1;
}

.atomicTitle {
  position: absolute;
  width: 100%;
  height: 490px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .main {
    position: relative;
    overflow: hidden;
    height: 300px;
  }

  .backImage {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  @keyframes chainReaction {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .atomicTitle {
    animation: chainReaction 3s;
    position: absolute;
    width: 100%;
    height: 550px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}*/